<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSOC Tagger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

</head>
<body>
    <div class="container" style="text-align: center">
        <br>
        <br>
        <div style="text-align: center"><h1>GSOC Tagger</h1></div>
        <br>
        <br>
        <button onclick="window.location.href='/2020'" type="button" class="btn btn-info btn-lg">2020</button>
        <button onclick="window.location.href='/2019'" type="button" class="btn btn-info btn-lg">2019</button>
        <button onclick="window.location.href='/2018'" type="button" class="btn btn-info btn-lg">2018</button> 
    </div>
</body>
</html>