<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSOC Tagger</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

    <script src="{{url_for('static', filename='app.js')}}"></script>
</head>
<!-- onsubmit="searchtags(event)" -->

<body>
    <div class="head">GSOC Tagger</div>
    <br>
    <div class="container">
        <div class="tag">
            <form action="" method="post" id="frm1" onsubmit="submit(event)">

                <label for="selectpicker">Technology: </label>
                <select name="tags" id="selectpicker multiselect1" class="selectpicker" data-live-search="true"
                    multiple="multiple">

                    <option value="all">all</option>
                    {% for tag in tags %}
                    <option value={{tag}}>{{tag}}</option>
                    {% endfor %}
                </select>

                <span class="form-group">
                    <label for="year">Select Year:</label>
                    <select class="" id="year" name="year">
                        <option value="2020" defaut>Year</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                    </select>
                </span>

                <span class="justify-content-end">
                    <button class="btn btn-info" disabled>{{year}}</button>

                    <button type="submit" class="btn btn-success float-end">Search</button>
                </span>
            </form>
        </div>

        <br>
        <div style="display: none">
            Search Results:
            <div id="result" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
                style="margin:auto;">

            </div>
            <hr>
            <br>
            <br>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" style="margin:auto;">
            {% if count|int()==0 %}
            <br><br><br>
            <center>
                <h4>No organisations found :( </h4>
            </center>
            {% endif %}

            {% for item in data %}
            {% if item.Name!="Name" %}

            <div class="col mb-4">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{item.Name}}</h5>
                        <p class="card-text">{{item.Description}}</p>

                        {% for tag in item.Tags.strip("] [ ' ").split("', '") %}
                        <span class="badge badge-warning">{{tag}}</span>
                        {% endfor %}
                        <br>
                        <br>
                        <a target=”_blank” href="{{item.Link}}" class="btn btn-primary">Webpage</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</body>

</html>